.myy-list-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  .myy-list-content-top-bar {
    display: flex;
    margin: 10px 20px;

    .myy-list-content-title {
      align-items: center;
      font-size: 22px;
    }
  }

  .myy-list-content-input {
    margin: 0 20px;
    font-size: 22px;
  }
}

.myy-style-padding-left {
  padding-left: 20px;
}
