.myy-list-items-group {
  .myy-list-items-title {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    padding-left: 20px;
    margin: 10px 0;
  }
}

.myy-list-items-group-hidden {
  display: none;
}
