.myy-list-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  .myy-list-content-top-bar {
    display: flex;
    margin: 10px 20px;

    .myy-list-content-menu-btn {
      display: none;
      align-items: center;
      margin-right: 20px;
      font-size: 24px;
      line-height: 33px;
    }

    .myy-list-content-title {
      align-items: center;
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 900px) {
  .myy-list-content-menu-btn {
    display: initial !important;
  }
}
