.myy-list-item {
  display: flex;
  align-items: center;
  height: 24px;
  cursor: pointer;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;

  &:hover {
    background: #eee;
  }

  .myy-list-item-icon {
    color: rgba(0, 0, 0, 0.24);
    margin-right: 10px;
  }
}
