.app-sidebar {
  height: 100%;
  color: white;
  background-color: #5069c4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;

  h1 {
    flex: 0 0 40px;
    padding-left: 20px;
  }

  .app-sidebar-lists {
    flex: 1 1 auto;

    .my-list-item {
      height: 40px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      cursor: pointer;
    }

    .my-list-item-selected {
      background-color: #6550c4;
    }
  }
}
