.app-sidebar {
  height: 100%;
  color: #fff;
  background-color: #5069c4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 260px;
  transition: margin-left 0.4s;

  h1 {
    flex: 0 0 40px;
    padding-left: 20px;
  }

  .myy-sidebar-user-info {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 12px;

    .myy-sidebar-avadar {
      flex: 0 0 36px;
    }

    .myy-sidebar-username {
      flex: 1 1 auto;
      opacity: 0.8;
      cursor: pointer;
    }

    .myy-sidebar-mail {
      flex: 0 0 24px;
    }
  }

  .app-sidebar-lists {
    flex: 1 1 auto;

    .my-list-item {
      height: 40px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      cursor: pointer;
      opacity: 0.8;
    }

    .my-list-item-selected {
      background-color: #00000025;
    }
  }
}

@media screen and (max-width: 900px) {
  .app-sidebar {
    position: absolute;
  }

  .sidebar-hide {
    .app-sidebar-hide {
      margin-left: -300px;
    }
  }

  .sidebar-show {
    .app-sidebar-show {
      margin-left: 0;
    }
  }
}

.temp-avatar-img {
  width: 36px;
  height: 36px;
  border: 1px solid #eee;
  opacity: 0.8;
  margin-right: 10px;
  cursor: pointer;
}
