.app-sidebar {
  height: 100%;
  color: white;
  background-color: #5069c4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  transition: margin-left 0.4s;

  h1 {
    flex: 0 0 40px;
    padding-left: 20px;
  }

  .app-sidebar-lists {
    flex: 1 1 auto;

    .my-list-item {
      height: 40px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-size: 14px;
      color: #fff;
      cursor: pointer;
    }

    .my-list-item-selected {
      background-color: #00000025;
    }
  }
}

@media screen and (max-width: 900px) {
  .app-sidebar {
    position: absolute;
  }

  .sidebar-hide {
    .app-sidebar-hide {
      margin-left: -300px;
    }
  }

  .sidebar-show {
    .app-sidebar-show {
      margin-left: 0;
    }
  }
}
