.myy-app {
  display: flex;
  height: 100%;

  .myy-app-list-detail-container {
    flex: 1;
  }

  .myy-list-item-add {
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 20px;

    &:focus {
      border: 1px solid #5069c4;
    }
  }
}
